extends ../templates/admin.jade

block head
  link(rel='stylesheet' type='text/css' href='/css/lib/jquery-ui.min.css')
  link(rel='stylesheet' type='text/css' href='/css/lib/tag-it.min.css')
  link(rel='stylesheet' type='text/css' href='/css/lib/tag-it.zendesk.css')
block scripts
  script(type='text/javascript' src='/js/build/jquery-ui.min.js')
  script(type='text/javascript' src='/js/build/tag-it.min.js')
  script.
    $(document).ready(function() {
      var tags = '#{tags}'.split(',');
      $('#tags').tagit({
        allowSpaces: true,
        availableTags: tags
      })
    })

block body
  h2 Today's Post
  form.new-post-form(action='/admin/new' method='POST' enctype="multipart/form-data")
    input(type="hidden" name="crumb" value=crumb)
    div.form-section
      label Day
      select(name='day')
        option(value='Sunday') Sunday
        option(value='Monday') Monday
        option(value='Tuesday') Tuesday
        option(value='Wednesday') Wednesday
        option(value='Thursday') Thursday
        option(value='Friday') Friday
        option(value='Saturday') Saturday
    div.form-section
      label Category
      select(name='category')
        option(value='Applications') Applications
        option(value='Aroma') Aroma
    div.form-section
      label Tags
      input#tags(type='text' name='tags' placeholder='Separate tags with a comma')
    div.form-section
      label Title
      input(type='text' name='title')
    div.form-section
      label Short Description
      textarea(name='short_description' rows='6')
    div.form-section
      label Content
      textarea(name='content' rows='6')
    div.form-section
      label Main image
      input(type='file' name='image')
    div.form-section
      label Featured
      input(type='checkbox' name='featured')
    div.form-section
      button(type='submit') Send it
