extends ../templates/admin.jade

block head
  script(type="text/javascript" src='/build/moment.min.js')

block body
  h2 All Posts
  .all-posts
    each post in posts
      .post-item
        a(href="/admin/posts/#{post._id}")
          h3 #{post.date_formatted} | #{post.title}
