doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    style(type='text/css').
      #outlook a {
          padding: 0;
      }
      body {
          width: 100% !important;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
          margin: 0;
          padding: 0;
          background: #fcfcfc;
          font: 400 14px 'Helvetica', 'Arial', sans-serif;
      }
      .ExternalClass {
          width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
          line-height: 100%;
      }
      #backgroundTable {
          margin: 20px auto 0;
          padding: 0;
          width: 100% !important;
          max-width: 640px;
          line-height: 100% !important;
          background: #ffffff;
          border: 1px solid #f6f6f6;
          border-top: 3px solid #FF8F8F;
      }
      #content {
          line-height: 24px;
          margin: 20px 0;
      }
      #footer {
          background: #f6f6f6;
          width: 100%;
          font-size: 11px;
          color: #aaa;
      }
      #footer br {
          margin: 5px 0;
          display: block;
      }
      #footer a {
          color: #333;
          text-decoration: none;
      }
      .image_fix {
          display: block;
      }
      @media only screen and (max-device-width: 480px) {
          a[href^=tel],
          a[href^=sms] {
              text-decoration: none;
              color: blue;
              cursor: default;
          }
      }
      @media only screen and (max-device-width: 480px) {
          .mobile_link a[href^=tel],
          .mobile_link a[href^=sms] {
              text-decoration: default;
              color: orange !important;
              pointer-events: auto;
              cursor: default;
          }
      }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          a[href^=tel],
          a[href^=sms] {
              text-decoration: none;
              color: blue;
              cursor: default;
          }
      }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          .mobile_link a[href^=tel],
          .mobile_link a[href^=sms] {
              text-decoration: default;
              color: orange !important;
              pointer-events: auto;
              cursor: default;
          }
      }
  body
    table#backgroundTable(cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
      tr
        td(valign='top', style='border-collapse: collapse;')
          table(cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
            tr
              td(valign='top', style='border-collapse: collapse; padding: 30px;')
                img(src='http://startessential.com/images/logo-color.png', alt='Start Essential', width='130')
                table#content(cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                  tr
                    td(valign='top', style='border-collapse: collapse;', mc:edit='body')
                      block body
          table#footer(cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
            tr
              td(valign='top', style='border-collapse: collapse; padding: 10px 30px;')
                p
                  | Copyright (C) 2015 Start Essential, LLC All rights reserved.
