$large: 1200px;
$ipad: 768px;
$phone: 520px;

$red: #FF8F8F;
$dark: #494949;
/*$defaultColor: #FF3736;*/
$defaultColor: #ccc;
/*$defaultAlt: #3DAEAE;*/
$defaultAlt: #ddd;
$defaultLight: #FAFAFA;
$grayBorderColor: #f2f2f2;
$linkColor: #4A90E2;

$titleFont: 'Falco Black';

$contentDesktop: 90%;
$contentMobile: 90%;

body {
  font: 300 120% 'Helvetica Neue', sans-serif;
  color: $dark;
  background-color: $defaultLight;
}

.all {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto 0;
  background-color: #fff;
  border-top: 4px solid $defaultColor;
  @media (min-width: $ipad) {
    width: 80%;
  }
}

main.main-content {
  font-size: 100%;
  line-height: 1.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@import '../normalize';
@import 'fontawesome';
@import 'header';
@import 'footer';
@import 'global';
@import 'home';
@import 'story';
@import 'tour';
