head
  title= title
  meta(name="description" content="Provides essential oil images, infographics, and social media posts to help you grow your essential oils business")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href='/css/site/site.css')
  link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
  block head
