extends templates/layout
block head
  meta(property='og:title' content='Start Essential')
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://startessential.com')
  meta(property='og:description' content='We design incredible infographics and social media posts so you can use them to grow your business.')
  meta(property='og:image' content='http://startessential.com/images/logo-color.png')
block body
  #front
    header.header-front
      div.header-top.cf
        h1.logo
          img(src='/images/logo-color.png' alt='Start Essential resources logo' width='300')
        .header-actions
          a.cta-top(href="#join" title="Join Start Essential") Join now
          a.login-top(href="/login" title="Login to Start Essential") Login
      div.header-middle.content.cf
        h4.middle-tagline If you're a Young Living distributor, you're in luck
        h2.middle-headline An Exclusive Collection of Essential Oil Graphics
        p.middle-description Download authentic Young Living graphics already customized with your distibutor information and approved under Young Living's guidelines.
        a.middle-cta(href='/join' title='Claim 30-Days of Free Access') Claim 30-Days of Free Access
        .middle-next
          p.middle-next-step Of course, if you would like to grab some more information about how it all works...
          p.middle-next-action Just keep reading...
    section.info
      .info-content
        h2.info-sub_head Focus on sharing the oils you love without the hassle of finding or creating your own graphics
        img.info-computer-example(src='/images/computer-example.png' width='600' alt='Start Essential landing page')
    section.features
      .features-content
        .feature
          img.feature-icon(src='/images/feature-1.png' width='300')
          .feature-details
            h3.feature-title Save time by quickly searching for exactly what you need
            p.feature-description Overcome the challenge of finding practical, approved information with a valuable library of essential oil graphics all in one place.
        .feature
          img.feature-icon(src='/images/feature-2.png' width='300')
          .feature-details
            h3.feature-title Rest assured that the graphics you share are carefully created under FDA standards
            p.feature-description We meticoulously write all our graphics with terminology provided under Young Living's guidelines.
        .feature
          img.feature-icon(src='/images/feature-3.png' width='300')
          .feature-details
            h3.feature-title Educate your downlines and friends 40% more effectively with graphics
            p.feature-description Did you know that 90% of information transmitted to the brain is visual? Studies have shown that people are 40% more likely to respond to a post with visual information then just plain text. Talk about growth!
        .feature
          img.feature-icon(src='/images/feature-4.png' width='300')
          .feature-details
            h3.feature-title All our graphics are yours–automatically customized with your distributor information
            p.feature-description All the images and posts you save will already have your distributor signup link on them. Now every post you share is an oppertunity to grow your downline!

    section.join(class=(sid ? 'logged' : undefined))
      if sid
        a.login-button(href='/login') Login to your account
      else
        img.join-icon(src='/images/join_icon.png' width='100' alt='Request an invitation icon')
        .join-content#join
          h2.join-sub_head Are you ready to get access? Get started with just your distributor id.
          p.join-desc Enter your Young Living distributor id below. We'll use this to customize <b>ALL</b> the images and content you post from Start Essential. It's really cool!
          .join-form
            p.join-sample-link
            input.join-input(type='text' maxlength='7' placeholder='e.g. 1423153')
            button.join-submit(type='submit') Get Started
block scripts
  script.
    ga('set', {
      page: '/',
      title: 'Homepage'
    });
