extends templates/layout
block head
  meta(property='og:title' content='Start Essential')
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://startessential.com')
  meta(property='og:description' content='We design incredible infographics and social media posts so you can use them to grow your business.')
  meta(property='og:image' content='http://startessential.com/images/logo-color.png')
block body
  #front
    header.header
      div.header-top.cf
        h1.logo
          img(src='/images/logo-color.png' alt='Start Essential resources logo' width='300')
        .header-actions
          a.cta-top(href="#join" title="Join Start Essential") Join now
          a.login-top(href="/login" title="Login to Start Essential") Login
      div.header-middle.content.cf
        h2 #{header}
        p We design incredible infographics and social media posts so you can use them to grow your business.
      div.header-bottom.examples
        div.example-blocks.cf
          span.examples-tagline Sample Infographics
          figure.example-block
            img(src='/images/Card 1.jpg' width='300' alt='3 practical uses for thieves essential oil infographic')
          figure.example-block
            img(src='/images/Card 2.jpg' width='300' alt='best essential oil blend for allergies infographic')
          figure.example-block
            img(src='/images/Card 3.jpg' width='300' alt='Top essential oils for weight loss infographic')
    section.info
      h2.info-sub_head Finding images and writing content couldn't be easier
      p.info-sub_desc Liven up your blog and social media with interesting, engaging images and content.
      .info-blocks.cf
        .info-block
          img.info-image(src='/images/icon_3.png' width='100' alt='Improve your blog graph')
          div.info-content
            h3.info-sub_head Improve your blogs and posts engagement by <b>40%</b>
            p.info-desc Did you know that 90% of information transmitted to the brain is visual? Studies have shown that people are 40% more likely to respond to a post with visual information then just plain text. Talk about growth!<br><span>Source: <a href="http://blog.hubspot.com/blog/tabid/6307/bid/33423/19-Reasons-You-Should-Include-Visual-Content-in-Your-Marketing-Data.aspx" title="Visual Content increases growth">hubspot.com</a></span>

        .info-block
          img.info-image(src='/images/icon_1.png' width='100' alt='Easily search essential oil infographics')
          div.info-content
            h3.info-sub_head Search images by oils, topic, terms, and more
            p.info-desc Find the perfect image for your content. We professionally produce all our essential oil graphics, so you can be sure you'll get a high-quality, exciting image!
        .info-block
          img.info-image(src='/images/icon_4.png' width='100' alt='Customizable member number')
          div.info-content
            h3.info-sub_head Automatically add your <b>own</b> member number
            p.info-desc All the images and posts we have will already have your member number and information on them. We do all the work for you. You can even download a customize <b>Get Started</b> flyer to guide new downlines.
        .info-block
          img.info-image(src='/images/icon_2.png' width='100' alt='Social media calendar')
          div.info-content
            h3.info-sub_head Save time with our social media calendar
            p.info-desc We know you're incredibly busy, and designing custom images and posts take a really long time! Because of that, we carefully create a Social Media Calender to give you a week-long supply of posts and images. Just copy and paste!

    section.join(class=(sid ? 'logged' : undefined))
      if sid
        a.login-button(href='/login') Login to your account
      else
        img.join-icon(src='/images/join_icon.png' width='100' alt='Request an invitation icon')
        .join-content#join
          h2.join-sub_head Are you ready to get access? Get started with just your distributor id.
          p.join-desc Enter your Young Living or Doterra distributor id below. We'll use this to customize <b>ALL</b> the images and content you post from Start Essential. We think it's really cool!
          .join-form
            p.join-sample-link
            input.join-input(type='text' maxlength='7' placeholder='e.g. 1423153')
            button.join-submit(type='submit') Get Started
block scripts
  script.
    ga('set', {
      page: '/',
      title: 'Homepage ' + #{version}
    });
