html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href='/css/main.css')
  body#front
    header.header
      div.header-top.cf
        h1.logo
          img(src='/images/logo-color.png' alt='Start Essential resources logo' width='300')
        a.cta-top(href="#join" title="Join Start Essential for free") Join for free
      div.header-middle.content.cf
        h2 Everything you need to grow your Essential Oil business.
        p Liven up your blog and social media with interesting, engaging images and content
      div.header-bottom.examples
        div.example-blocks.cf
          span.examples-tagline Sample Infographics
          figure.example-block
            img(src='/images/Card 1.jpg' width='300' alt='3 practical uses for thieves essential oil infographic')
          figure.example-block
            img(src='/images/Card 2.jpg' width='300' alt='best essential oil blend for allergies infographic')
          figure.example-block
            img(src='/images/Card 3.jpg' width='300' alt='Top essential oils for weight loss infographic')
    section.info
      h2.info-sub_head Finding images and writing content couldn't be easier
      .info-blocks.cf
        .info-block
          img.info-image(src='/images/icon_1.png' width='100' alt='Easily search essential oil infographics')
          div.info-content
            h3.info-sub_head Search images by oils, topic, terms, and more
            p.info-desc Find the perfect image for your content. We professionally produce all our essential oil graphics, so you can be sure you'll get a high-quality, exciting image!
        .info-block
          img.info-image(src='/images/icon_2.png' width='100' alt='Social media calendar')
          div.info-content
            h3.info-sub_head Save time with our social media calendar
            p.info-desc We know you're incredibly busy, and making custom image and posts takes a really long time! Because of that, we carefully create a Social Media Calender to give you a week-long supply of posts and images. Just copy and paste!
        .info-block
          img.info-image(src='/images/icon_3.png' width='100' alt='Improve your blog graph')
          div.info-content
            h3.info-sub_head Improve your blogs and posts engagement by 40%
            p.info-desc Did you know that 90% of information transmitted to the brain is visual? Studies have shown that people are 40% more likely to respond to a post with visual information then just plain text. Talk about growth!
    section.join
      img.join-icon(src='/images/join_icon.png' width='100' alt='Request an invitation icon')
      .join-content#join
        h2.join-sub_head Are you ready to grow your business with better content?
        p.join-desc Start Essential is still growing and is only available to beta members. If you would like to get free access to all this valuable content and help Start Essential grow, you just need your email address! <b>Sign up below to join</b> and be one of the first to use Start Essential.
        p.join-msg
        .join-form
          input.join-input(type='email' placeholder='Enter your email')
          button.join-submit(type='submit') Step inside
script(src="http://localhost:35729/livereload.js?snipver=1")
script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js")
script(type="text/javascript" src="/js/main.js")
