extends templates/layout
block head
  meta(property='og:title' content='Start Essential')
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://startessential.com')
  meta(property='og:description' content='We design incredible infographics and social media posts so you can use them to grow your business.')
  meta(property='og:image' content='http://startessential.com/images/logo-color.png')
block body
  #register
    include templates/_header-naked
    main.main
      .details
        .copy
          h3 Start your 7-day free trial
          p A <span>simple</span> way to create customized essential oil graphics.

      .register
        .register-form
          form(action='/register/pre' method='POST')
            input(type='hidden' name='crumb' value=crumb)
            .form-block
              label Member number
              input(type='text' value=(memberNumber || undefined) name='memberNumber' maxlength='7')
            .form-block.terms
              label Terms of Service
              input(type='checkbox' value='agree' name='termsAgree')
              p.small I agree to the <a href='/privacy-policy' target='_blank'>Privacy Policy</a> and <a href='/terms-of-service' target='_blank'>Terms of Agreement</a>
            .form-block
              button.fb-login(type='submit') Register with Facebook
              p.fb-login-desc Registering with Facebook is simply a way to quickly login and access Start Essential. We promise to <i>never</i> post or access your private information without your approval.
            .form-block.coupon
              p.show-coupon Have a coupon? Enter it here.
              .form-block-hidden
                input(type='text' name='coupon' placeholder='Enter your coupon here')
        .register-extra
          h4.extra-title Starter Plan
          .question-block
            ul.value-list
              li.value-item 7-day free trial
              li.value-item Save 2 new graphics a week
              li.value-item Young Living signup link to use with new members
              li.value-item Landing page to inform people about Young Living Essential Oils
              li.value-item No commitment, cancel anytime
