extends templates/register
block body
  main.main
    .details
      .number
        p.number-label Member Number
        p.number-data
    .register
      a.fb-login(href='/facebook/register') Register with Facebook
