extends templates/layout
block body
  #thankyou
    header.header
      .header-inner.cf
        h1.logo
          a(href='/' title='Start Essential homepage')
            img(src='/images/logo-white.png' alt='Start Essential resources logo' width='100')
        p.thanks Thank you for signing up!
    section.info
      h3.info-tagline Grow even faster by sharing with your downlines
      h2.info-title INVITE FRIENDS &amp;<br> EARN MORE
      p.info-desc Share your special link through email, Facebook, or Twitter to earn exclusive content/images for every friend that signs up.
      .share-form
        input.share-link(type='text' value='Loading...')
        .share-links
          a.share-fb(href='' title='Share on facebook to grow faster') Facebook
          a.share-tw(href='' title='Share on twitter to grow faster') Twitter
      p.share-status No friends have joined yet. Keep checking back for updates
    section.goals
      .goals-inner
        h3.goals-title How it works
        .options
          .option
            p.option-stat 5<br><span>friends</span>
            p.option-text 10 free image downloads
            p.option-success You made it!
          .option
            p.option-stat 15<br><span>friends</span>
            p.option-text 1 free custom infographic<br><span>We'll make it for you</span>
            p.option-success You made it!
          .option
            p.option-stat 20<br><span>friends</span>
            p.option-text 3 months<br><span>of free access</span>
            p.option-success You made it!
          .option
            p.option-stat 25<br><span>friends</span>
            p.option-text 1 year<br><span>of free access</span>
            p.option-success You made it!
        .goals-reached
          .dot-sec
            .dot
            hr
          .dot-sec
            .dot
            hr
          .dot-sec
            .dot
            hr
          .dot-sec
            .dot
            hr
    section.app
      .app-inner
        h3.app-title Browse the Latest Posts and Get Started!
        a.app-link(href='/posts') Step Inside
        
