html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href='/css/main.css')
  body#thankyou
    header.header
      .header-inner.cf
        h1.logo
          a(href='/' title='Start Essential homepage')
            img(src='/images/logo-white.png' alt='Start Essential resources logo' width='100')
        p.thanks Thank you for signing up!
    section.info
      h3.info-tagline Grow even faster by sharing with your downlines
      h2.info-title INVITE FRIENDS &amp;<br> EARN MORE
      p.info-desc Share your special link through email, Facebook, or Twitter to earn exclusive content/images for every friend that signs up.
      .share-form
        input.share-link(type='text' value='http://startessential.com/32342341243')
        .share-links
          a.share-fb(href='' title='Share on facebook to grow faster') Facebook
          a.share-tw(href='' title='Share on twitter to grow faster') Twitter
      p.share-status No friends have joined yet. Keep checking back for updates
    section.goals
      .goals-inner
        h3.goals-title How it works
        .options
          .option.yus
            p.option-stat 5<br><span>friends</span>
            p.option-text 10 free image downloads
            p.option-success You made it!
          .option
            p.option-stat 15<br><span>friends</span>
            p.option-text 1 free custom infographic<br><span>We'll make it for you</span>
            p.option-success You made it!
          .option
            p.option-stat 30<br><span>friends</span>
            p.option-text 3 months<br><span>of free access</span>
            p.option-success You made it!
          .option
            p.option-stat 50<br><span>friends</span>
            p.option-text 1 year<br><span>of free access</span>
            p.option-success You made it!
        .goals-reached
          .dot-sec.yus
            .dot
            hr
          .dot-sec
            .dot
            hr
          .dot-sec
            .dot
            hr
          .dot-sec
            .dot
            hr

script(src="http://localhost:35729/livereload.js?snipver=1")
script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js")
