header.header
  .saving-overlay
    .saving-overlay-text Saving...
  .header-content
    .logo-wrap
      a(href='/posts' title='Start Essential Logo')
        img.logo(src='/images/logo-color.png' width='150')
    nav.nav
      if sid
        span.record-counter #{sid.records.downloaded}/#{sid.records.downloads} Saved
      ul.nav-list
        li.nav-item#posts-link
          a(class=(active === 'explore' ? 'active' : undefined) href='/posts') Explore
        li.nav-item#saved-link
          a(class=(active === 'saved' ? 'active' : undefined) href='/saved') Saved
        li.nav-item#account-link
          a(class=(active === 'account' ? 'active' : undefined) href='/account') Account
        li.nav-item 
          a(href='/logout') Logout
if message
  .messages
    p= message

