html
  include _head.jade
  meta(property='og:title' content='Start Essential')
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://startessential.com')
  meta(property='og:description' content='We design incredible infographics and social media posts so you can use them to grow your business.')
  meta(property='og:image' content='http://startessential.com/images/logo-color.png')
  body
    .all-content
      #register
        header.header
          div.header-inner.cf
            h1.logo
              img(src='/images/logo-color.png' alt='Start Essential resources logo' width='300')
        main.main
          if message
            .message #{message}
          block body
      .push
    include _footer.jade
