#account {
  @import "header";
  .main {
    max-width: 90%;
    margin: 0 auto;
  }
  .page-title {
    color: #666666;
    font-size: 210%;
    font-weight: 600;
  }
  .settings {
    margin: 40px 0;
    width: 100%;
    .input-group {
      margin-bottom: 20px;
      font-size: 130%;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 120%;
    }
    input[type=text], input[type=email] {
      padding: 10px 15px;
      border: 1px solid #ccc;
      outline: none;
      color: #666;
      width: 50%;
      @media (max-width: $phone) {
        width: 100%;
      }
      &:focus {
        border-color: $gray;
        color: #333;
      }
    }
    button[type=submit] {
      background: $red;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      outline: none;
      border: none;
      -webkit-appearance: none;
      font-weight: 600;
      &:hover {
        background: $shade-red;
      }
    }
  }
}
