#error {
  .main {
    font-size: 200%;
    text-align: center;
    font-weight: 600;
    a {
      font-size: 60%;
      font-weight: 200;
      color: $btn-blue;
      text-decoration: none;
    }
  }
}
