.main {
  padding-top: 65px;
  @media (max-width: $phone) {
    padding-top: 100px;
  }
}

.saving-overlay {
  display: none;
  position: relative;
  z-index: 999;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background: $red;
  color: #903838;
  vertical-align: middle;
  font-size: 14px;
}

body.messages {
  .header {
    height: 95px !important;
  }
  .main {
    padding-top: 95px !important;
  }
  .saving-overlay {
    display: block !important;
  }
}

.header {
  width: 100%;
  background: #fff;
  border-top: 3px solid $red;
  border-bottom: 1px solid #ECECEC;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  position: fixed;
  z-index: 90;
  height: 65px;
  top: 0; left: 0;
  @media (max-width: $phone) {
    height: auto;
  }
  .header-content {
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $phone) {
      padding: 0;
      width: 100%;
      display: block;
    }
  }
  .logo-wrap {
    align-self: flex-start;
    @media (max-width: $phone) {
      background: #fff;
      border-top: 3px solid $red;
      border-bottom: 1px solid #ECECEC;
      box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
      padding: 10px;
      box-sizing: border-box;
      overflow: auto;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      @media (max-width: $phone) {
        float: left;
      }
    }
    img.logo {
      width: 120px;
      height: auto;
      @media (max-width: $phone) {
        width: 90px;
      }
    }
  }
  .search-wrap {
    width: 20%;
    @media (max-width: $phone) {
      width: 100%;
    }
    .search {
      -webkit-appearance: none;
      padding: 15px 20px;
      border-radius: 40px;
      border: none;
      text-align: center;
      box-sizing: border-box;
      width: 100%;
      outline: none;
    }
  }
  .nav {
    @media (max-width: $phone) {
      text-align: center;
    }
    ul.nav-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      @media (max-width: $phone) {
        width: 100%;
        height: 40px;
        background: #fafafa;
        border-bottom: 1px solid #ccc;
      }

    }
    li.nav-item {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      color: $gray;
      font-size: 130%;
      font-weight: 400;
      @media (max-width: $phone) {
        width: 25%;
        padding: 10px;
        font-size: 14px;
        margin: 2px 0;
        box-sizing: border-box;
        text-align: center;
      }
      &:hover {
        color: darken($gray, 20%);
      }
      a {
        text-decoration: none;
        color: inherit;
        &.active {
          color: lighten($gray, 10%);
        }
      }
    }
  }
  .record-counter {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    @media (max-width: $phone) {
      float: right;
      margin-right: 5px;
      margin-top: 3px;
    }
    &:hover .tooltip {
      opacity: 1;
    }
    .counter {
      display: inline-block;
      padding: 10px;
      background: darken($red, 3%);
      color: #CF4F4C;
      font-weight: 600;
      cursor: default;
      text-transform: uppercase;
      @media (max-width: $phone) {
        padding: 5px 10px;
        font-size: 14px;
        background: $red;
      }
    }
    .tooltip {
      opacity: 0;
      margin-right: 15px;
      text-align: center;
      color: #888;
      border: 1px solid #888;
      padding: 5px 10px;
      font-size: 100%;
      font-weight: 400;
      text-transform: none;
      transition: opacity 0.3s;
      @media (max-width: $ipad) {
        display: none;
      }
    }
  }
}

/*.naked {*/
/*  .header-content {*/
/*    display: block !important;*/
/*    text-align: center;*/
/*  }*/
/*  .logo-wrap {*/
/*    display: inline-block;*/
/*  }*/
/*  .logo {*/
/*    max-width: 150px;*/
/*  }*/
/*}*/

