#login {
  @import "header";
  text-align: center;
  .login-button {
    font-size: 130%;
    padding: 15px 25px;
    background: $btn-blue;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 30px auto;
    &:hover {
      background: darken($btn-blue, 10%)
    }
    @media (max-width: $phone) {
      font-size: 110%;
      padding: 12px 20px;
      margin: 20px auto;
    }
  }
}
