#post {
  @import 'includes/tools';
  .main {
    background: #fff;
    overflow: auto;
    @import 'includes/graphics';
  }
  .final {
    background: #fff;
    .final-content {
      width: 60%;
      margin: 0 auto;
      padding: 50px 0;
      text-align: center;
      @media (max-width: $phone) {
        width: 80%;
      }
    }
    .title {
      margin-top: 0;
      font-size: 200%;
      font-weight: 500;
      @media (max-width: $phone) {
        font-size: 140%;
      }
    }
    .tagline {
      color: #878787;
      font-size: 130%;
      margin-top: 0;
    }
    .member-number {
      -webkit-appearance: none;
      padding: 15px 20px;
      border: 1px solid #D1D1D1;
      margin: 20px 0;
      font-size: 130%;
      outline: none;
      text-align: center;
      @media (max-width: $phone) {
        width: 100%;
      }
      &:disabled {
        background: #eee;
        color: #aaa;
      }
      &:focus {
        border-color: #aaa;
      }
    }
    .cta {
      margin-top: 20px;
      .post-now, .share-fb {
        display: inline-block;
        padding: 15px 25px;
        font-size: 140%;
        font-weight: 600;
        text-decoration: none;
        background: $btn-blue;
        color: #fff;
        border-radius: 5px;
        -webkit-appearance: none;
        border: none;
        cursor: pointer;
        @media (max-width: $phone) {
          font-size: 100%;
        }
        &:hover {
          background: darken($btn-blue, 10%);
        }
      }
    }
  }
}
