#post {
  @import 'includes/tools';
  .main {
    background: #fff;
    overflow: auto;
    @import 'includes/graphics';
  }
  .final {
    background: #fff;
    .final-content {
      width: 60%;
      margin: 0 auto;
      padding: 50px 0;
      text-align: center;
      @media (max-width: $phone) {
        width: 80%;
        text-align: left;
      }
    }
    .title {
      margin-top: 0;
      font-size: 200%;
      font-weight: 500;
      @media (max-width: $phone) {
        font-size: 140%;
      }
    }
    .tagline {
      color: #878787;
      font-size: 130%;
      margin-top: 0;
      text-align: left;
      @media (max-width: $phone) {
        font-size: 100%;
        line-height: 1.4;
      }
    }
    .cta {
      margin-top: 20px;
      .post-now, .share-fb {
        display: inline-block;
        padding: 15px 25px;
        font-size: 140%;
        font-weight: 600;
        text-decoration: none;
        background: $shade-red;
        color: #fff;
        border-radius: 5px;
        -webkit-appearance: none;
        border: none;
        cursor: pointer;
        @media (max-width: $phone) {
          font-size: 100%;
        }
        &:hover {
          background: $red;
        }
      }
    }
  }
}
