#register {
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  @media (max-width: $ipad) {
    width: 70%;
  }
  @media (max-width: $phone) {
    width: 90%;
  }
  .details {
    text-align: center;
    .copy {
      h3 {
        font-size: 260%;
        margin: 0;
        color: $dark;
      }
      p {
        margin: 5px 0 0;
        color: #888;
        font-size: 120%;
        span {
          color: $red;
          font-style: italic;
        }
      }
    }
  }

  .register {
    text-align: left;
    margin: 30px 0 0;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 130%;
    form {
      margin: 0;
    }
    .register-form {
      padding-right: 30px;
      box-sizing: border-box;
      display: inline-block;
      width: 60%;
      border-right: 1px solid #ddd;
      vertical-align: top;
      @media (max-width: $phone) {
        border: none;
        border-bottom: 1px solid #ddd;
      }
      .form-block {
        margin: 20px 0;
        &:nth-of-type(1) {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        label {
          display: block;
          margin: 0 0 15px;
          font-size: 120%;
          font-weight: 600;
        }
        a {
          font-weight: 400;
          text-decoration: none;
          color: $btn-blue;
          &:hover {
            color: darken($btn-blue, 10%);
          }
        }
        .small {
          font-size: 100%;
          display: inline-block;
        }
        input {
          padding: 10px 15px;
          box-shadow: border-box;
          border: 1px solid #ccc;
          width: 100%;
          border-radius: 5px;
          outline: none;
          &:disabled {
            background: #f2f2f2;
          }
        }
        &.terms {
          p, input {
            display: inline-block;
            vertical-align: middle;
          }
          p {
            margin: 0;
            width: 90%;
            font-size: 75%;
          }
          input {
            width: 10%;
          }
        }
        &.coupon .form-block-hidden {
          font-size: 80%;
          margin-top: 15px;
        }

        .fb-login {
          display: inline-block;
          margin: 15px auto 0;
          padding: 15px 25px;
          background: $btn-blue;
          color: #fff;
          text-decoration: none;
          font-size: 120%;
          font-weight: 600;
          width: 100%;
          box-sizing: border-box;
          border-radius: 5px;
          text-align: center;
          -webkit-appearance: none;
          border: none;
          &:hover {
            background: darken($btn-blue, 10%);
          }
          @media (max-width: $phone) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 75%;
          }
        }
        .fb-login-desc {
          font-size: 80%;
          font-style: italic;
          color: #aaa;
        }
      }
      .show-coupon {
        color: $dark;
        font-size: 80%;
        cursor: pointer;
        font-style: italic;
        padding: 0;
        margin: 0;
        &:hover {
          color: $red;
        }
      }
      .form-block-hidden {
        display: none;
        &.show {
          display: block;
        }
      }
    }
    .register-extra {
      display: inline-block;
      width: 40%;
      padding-left: 30px;
      box-sizing: border-box;
      vertical-align: top;
      h4.extra-title {
        margin: 0 0 15px;
        font-size: 130%;
      }
      .question-block {
        margin: 15px 0;
        &:first-child {
          margin-top: 0;
        }
        .question-title {
          font-size: 100%;
          margin: 0 0 10px;
        }
        p {
          font-size: 90%;
          margin-top: 0;
        }
      }
    }
    .register-form, .register-extra {
      @media (max-width: $phone) {
        width: 100%;
        padding: 30px 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    .value-list {
      &:not(.sub) {
        padding: 0 20px;
      }
      .value-item {
        margin: 10px 0;
      }
    }
  }

  // Plans

  .plan {
    font-size: 100%;
    text-align: left;
    width: 100%;
    form {
      margin: 0;
    }
    .plan-secure {
      margin: 20px 0 0;
      color: #bbb;
      .secure-text {
        padding-left: 5px;
      }
    }
  }

}
