#saved {
  @import "header";
  .main {
    max-width: 90%;
    margin: 10px auto;
    @media (max-width: $phone) {
      max-width: 90%;
    }
  }
  .page-title {
    color: #666666;
    font-size: 210%;
    font-weight: 600;
    margin-bottom: 5px;
    @media (max-width: $phone) {
      font-size: 160%;
      margin-bottom: 0;
    }
  }
  .page-tagline {
    color: $gray;
    margin: 0 0 25px;
    @media (max-width: $phone) {
      margin-bottom: 0;
    }
  }
  .save {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    box-sizing: border-box;
    padding: 15px;
    @media (max-width: $ipad) {
      width: 50%;
    }
    @media (max-width: $phone) {
      width: 100%;
      margin: 15px 0;
      padding: 20px 0;
    }
    .save-image-wrap, .save-text, .save-title, .save-old, .save-posted {
      display: inline-block;
      vertical-align: middle;
    }
    a {
      text-decoration: none;
    }
    .save-image-wrap {
      max-height: 200px;
      width: 100%;
      position: relative;
      overflow: hidden;
      .save-image {
        top: 0;
        width: 100%;
      }
    }
    form.save-remove {
      button {
        -webkit-appearance: none;
        color: #ccc;
        text-decoration: underline;
        border: none;
        background: none;
        padding: 0;
        &:hover {
          color: $shade-red;
        }
      }
    }
    .save-text {
      margin: 0;
      padding: 20px 15px;
      border: 1px solid #eee;
      box-shadow: 0 1px 0 #ccc;
      width: 100%;
      box-sizing: border-box;
    }
    .save-title {
      font-size: 140%;
      font-weight: 400;
      color: $dark;
      margin: 0;
      @media (max-width: 1330px) {
        display: block;
      }
    }
    .save-download {
      display: inline-block;
      color: $red;
      font-size: 110%;
      &:hover {
        color: $shade-red;
      }
    }
    form {
      margin: 10px 0 5px;
    }
    .save-resave {
      -webkit-appearance: none;
      color: $gray;
      padding: 0;
      background: none;
      margin-right: 10px;
      font-weight: 400;
      font-size: 110%;
      border: none;
      &:hover {
        color: $red;
      }
    }
    .save-right {
      position: relative;
      .save-customized {
        color: $gray;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}
