@import 'normalize';
$red: #FF8F8F;
$shade-red: darken(#FF8F8F, 10%);
$blue: #ACD7F8;
$dark: #314046;
$gray: #7D7D7D;
$btn-blue: #4A90E2;

$content-width: 60%;

$large: 1200px;
$ipad: 768px;
$phone: 520px;

@font-face {
  font-family: 'claire_handbold';
  src: url('/fonts/clairehandbold-webfont.eot');
  src: url('/fonts/clairehandbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/clairehandbold-webfont.woff2') format('woff2'),
    url('/fonts/clairehandbold-webfont.woff') format('woff'),
    url('/fonts/clairehandbold-webfont.ttf') format('truetype'),
    url('/fonts/clairehandbold-webfont.svg#claire_handbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Falco Black';
  src: url('/fonts/falco_black-webfont.eot');
  src: url('/fonts/falco_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/falco_black-webfont.woff2') format('woff2'),
    url('/fonts/falco_black-webfont.woff') format('woff'),
    url('/fonts/falco_black-webfont.ttf') format('truetype'),
    url('/fonts/falco_black-webfont.svg#falco_blackblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cf {
  clear: both;
  overflow: auto;
  zoom: 1;
}

html, body {
  height: 100%;
}

body {
  font: 100% "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $dark;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

button {
  overflow: auto;
}

.all-content {
  min-height: 100%;
}

#front {
  @import 'includes/customHeader';
  .header-middle {
    clear: both;
    width: 60%;
    margin: 0 auto;
    padding: 30px 0 0;
    position: relative;
    overflow: initial;
    text-align: center;
    @media (max-width: $ipad) {
      width: 80%;
    }
    @media (max-width: $phone) {
      width: 90%;
      text-align: left;
    }
    h4.middle-tagline {
      color: $red;
      font-size: 140%;
      font-weight: 400;
      margin: 0;
    }
    h2.middle-headline {
      font-size: 280%;
      font-weight: 600;
      margin: 20px auto;
      max-width: 100%;
      @media (max-width: $phone) {
        max-width: 100%;
        font-size: 220%;
      }
    }
    p.middle-description {
      font-size: 130%;
      font-weight: 200;
      color: $dark;
      line-height: 1.4;
      max-width: 70%;
      min-width: 480px;
      margin: 0 auto;
      @media (max-width: $ipad) {
        max-width: 80%;
        min-width: auto;
      }
      @media (max-width: $phone) {
        max-width: 100%;
        font-size: 100%;
      }
    }
    a.middle-cta {
      display: inline-block;
      margin: 20px 0;
      padding: 15px 20px;
      background: darken($red, 5%);
      color: #fff;
      border-radius: 4px;
      border-bottom: 3px solid #BD6565;
      font-size: 130%;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        background: darken($red, 10%);
      }
      @media (max-width: $phone) {
        font-size: 110%;
      }
    }
    .middle-next {
      .middle-next-step {
        color: $gray;
        font-size: 90%;
        margin: 20px 0 0;
      }
    }
    .middle-arrow {
      position: absolute;
      height: 80px;
      width: auto;
      bottom: -40px;
      right: 0;
    }
    .middle-oils {
      width: 80%;
      position: relative;
      padding: 20px 0 0;
      overflow: hidden;
      max-height: 130px;
      margin: 0 auto;
      @media (max-width: $phone) {
        width: 100%;
      }
      .oil {
        position: relative;
        display: inline-block;
        width: 9.5%;
        margin: 0 0.25%;
        padding: 0;
        top: 40px;
        opacity: 0.4;
        transition: transform 0.5s, opacity 0.5s;
        &.up, &:hover {
          opacity: 1;
          transform: translateY(-40px);
        }
      }
    }
  }
  section.info {
    background: #fcfcfc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%,#ffffff 10%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    margin: 0 auto;
    .info-content {
      width: $content-width;
      margin: 0 auto;
      padding: 80px 0;
      @media (max-width: $ipad) {
        width: 90%;
        padding: 50px 0 20px;
      }
    }
    h2.info-sub_head {
      max-width: 80%;
      margin: 0 auto;
      padding: 0;
      font-size: 210%;
      text-align: center;
      @media (max-width: $phone) {
        max-width: 90%;
        font-size: 180%;
        text-align: left;
      }
    }
    /*img.info-computer-example {*/
    /*  width: 100%;*/
    /*  margin: 50px 0 0;*/
    /*}*/
  }
  section.features {
    .features-content {
      width: $content-width;
      margin: 0 auto;
      padding: 50px 0 80px;
      @media (max-width: $ipad) {
        width: 80%;
        padding: 50px 0 30px;
      }
    }
    .feature {
      padding: 50px 0;
      width: 100%;
      display: block;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      @media (max-width: $phone) {
        padding: 30px 0;
        text-align: center;
      }
      .feature-icon {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        @media (max-width: $phone) {
          width: 100%;
          margin: 0 auto;
        }
      }
      .feature-details {
        width: 75%;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 0 0 50px;
        vertical-align: top;
        font-size: 130%;
        @media (max-width: $phone) {
          width: 100%;
          text-align: left;
          margin: 25px 0 0;
          padding: 0;
        }
        a {
          color: $red;
          text-decoration: none;
        }
      }
      .feature-title {
        margin: 0 0 20px 0;
      }
      .feature-description {
        margin: 0;
        font-size: 90%;
        font-weight: 200;
        line-height: 1.5;
      }
    }
  }

  section.join {
    margin-top: 30px;
    padding: 70px 0 70px;
    background: lighten(#FFFEE7, 3%);
    text-align: center;
    @media (max-width: $phone) {
      text-align: left;
    }
    &.logged {
      padding: 70px 0;
    }
    .join-content {
      font-size: 140%;
      max-width: 60%;
      margin: 0 auto;
      @media (max-width: $ipad) {
        max-width: 80%;
      }
      @media (max-width: $phone) {
        max-width: 90%;
      }
    }
    .join-sub_head {
      font-size: 230%;
      margin: 0 0 10px;
      @media (max-width: $phone) {
        font-size: 180%;
      }
    }
    .join-offer {
      font-size: 180%;
      font-weight: 600;
      color: #888888;
      margin: 0;
      @media (max-width: $phone) {
        font-size: 120%;
      }
    }
    .join-desc {
      margin: 30px auto 20px;
      font-size: 115%;
      max-width: 90%;
      color: $dark;
      @media (max-width: $phone) {
        font-size: 100%;
        max-width: 100%;
      }
    }
    .join-form {
      position: relative;
      max-width: 60%;
      margin: 0 auto;
      font-size: 120%;
      @media (max-width: $ipad) {
        max-width: 80%;
      }
      @media (max-width: $phone) {
        max-width: 100%;
        font-size: 100%;
      }
      p.join-form-desc {
        font-size: 80%;
        color: $gray;
        margin: 0 0 20px;
        @media (max-width: $phone) {
          font-size: 95%;
        }
      }
      input.join-input {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        color: $gray;
        text-align: center;
        display: block;
      }
      p.join-sample-link {
        position: absolute;
        left: 100%;
        text-align: left;
        margin: 0;
        margin-left: 40px;
        top: 0;
        font-size: 80%;
        color: $dark;
        overflow: hidden;
        transition: opacity 0.3s;
        opacity: 0;
        background: #fff;
        border: 1px solid #f2f2f2;
        border-bottom: 2px solid #ccc;
        a {
          display: block;
          margin: 7px 0;
          color: $red;
          text-decoration: none;
        }
        &.show {
          opacity: 1;
          padding: 15px;
        }
        @media (max-width: $phone) {
          position: relative;
          left: 0;
          text-align: center;
          &.show {
            margin: 15px 0;
          }
        }
      }
      button.join-submit {
        position: relative;
        border: none;
        outline: none;
        -webkit-appearance: none;
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px 20px;
        background: $shade-red;
        color: #fff;
        border-radius: 4px;
        border-bottom: 3px solid #BD6565;
        font-size: 100%;
        text-decoration: none;
        font-weight: 600;
        &:hover:not(:disabled) {
          background: $red;
        }
        @media (max-width: $phone) {
          font-size: 80%;
        }
      }
      .join-reasure {
        font-size: 70%;
        color: $gray;
      }
    }

    .login-button {
      padding: 10px 20px;
      border: 1px solid $red;
      border-radius: 5px;
      background: transparent;
      color: $red;
      font-size: 120%;
      text-decoration: none;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }
  section.plans {
    display: none;
    color: $gray;
    background: none;
    border-bottom: 1px solid #ddd;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    @media (max-width: $phone) {
      display: block;
    }
    .plans-statement {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-size: 90%;
      @media (max-width: $phone) {
        font-size: 110%;
      }
      a.plans-action {
        display: inline-block;
        text-decoration: none;
        color: $red;
      }
    }
  }
  section.unsure {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: $gray;
    .unsure-statement {
      font-weight: 400;
      font-size: 90%;
      @media (max-width: $phone) {
        font-size: 110%;
      }
      a {
        color: $red;
      }
    }
  }
}

.footer {
  background: #f9f9f9;
  .footer-content {
    margin: 0 auto;
    padding: 20px 0;
    width: 60%;
    text-align: center;
    color: #999999;
    @media (max-width: $phone) {
      text-align: left;
      width: 90%;
    }
    .disclaimer {
      font-size: 80%;
    }
  }
}

@import 'fontawesome';
@import 'error';
@import 'agreements';
@import 'thankyou';
@import 'plans';
@import 'post';
@import "header";
@import 'posts';
@import 'register';
@import 'account';
@import 'login';
@import 'saved';
@import 'preview';
@import 'joyride';
@import 'site';
