extends ../layouts/default.jade

block body
  p Hi #{fname}, welcome to Start Essential!
  p I know you're really excited to start sharing Young Living oils with your friends and distributors. So, to help you with that process, I want to personally reach out to you and let you know that I'm here if you have <em>any</em> questions or comments while using Start Essential. I want you to love sharing essential oils and succeed as a Young Living distributor. My personal email is <a href='mailto:derek@startessential.com'>derek@startessential.com</a>.
  p Thank you for choosing Start Essential &mdash; it's you that makes sharing these graphics possible.
  p Sincerely,
  p Derek Duncan
  p CEO, Start Essential
