extends ../layouts/default.jade

block body
  p Hi #{fname}, welcome to Start Essential!
  p I know you're really excited to start sharing Young Living oils with your friends and distributors. So, to help you with that process, I wanted to personally reach out to you and say that I'm here for <em>any</em> questions you might have while using Start Essential. I want you to love sharing essential oils and succeed as a Young Living distributor as well. Please, contact me at any point of your journey for any sharing advice or just a quick chat :)
  p Thank you for choosing Start Essential &mdash; it's you that make sharing these graphics possible.
  p Sincerely,
  p Derek Duncan
  p CEO, Start Essential
