.header-top {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  @media (max-width: $phone) {
    width: 100%;
    padding-bottom: 0;
  }
  h1.logo {
    margin: 0;
    padding: 0;
    float: left;
    width: 10%;
    @media (max-width: $phone) {
      float: none;
      width: 40%;
      margin: 0 20px;
    }
    img {
      width: 100%;
    }
  }
  .header-actions {
    float: right;
    margin-top: 5px;
    box-sizing: border-box;
    @media (max-width: $phone) {
      float: none;
      width: 100%;
      padding: 0 20px;
      margin-top: 25px;
    }
  }
  a.pricing, a.cta-top, a.login-top {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    background: $red;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid $red;
    box-sizing: border-box;
    text-align: center;
    @media (max-width: $phone) {
      overflow: initial;
      display: inline-block;
      font-size: 100%;
      width: 50%;
      margin: 0;
    }
    &:hover {
      background: $shade-red;
    }
  }
  a.pricing {
    background: transparent;
    border: none;
    color: $red;
    &:hover {
      background: none;
      text-decoration: underline;
    }
    @media (max-width: $phone) {
      display: none;
    }
  }
  a.login-top {
    background: transparent;
    color: $red;
    &:hover {
      background: $red;
      color: #fff;
    }
  }
}
