extends /templates/layout
block body
  #thankyou
    include /includes/_header
    main.main
      section.info
        h3.info-tagline Grow even faster by sharing with your downlines
        h2.info-title INVITE FRIENDS &amp;<br> EARN MORE
        p.info-desc Share your special link through email, Facebook, or Twitter to add a free month to your subscription for every 3 friends that sign up.
        .share-form
          input.share-link(type='text' value='http://startessential.com/?friend=#{sid.referral_id}')
          .share-links
            a.share-fb(href='' data-url='http://startessential.com/?friend=#{sid.referral_id}' title='Share on facebook to grow faster') Share on Facebook
      section.goals
        .goals-inner
          h3.goals-title How it works
          p.goals-description For every 3 friends that signup through your link above, you'll recieve an additional FREE month using Start Essential!
      section.app
        .app-inner
          h3.app-title Browse the Latest Posts and Get Started!
          a.app-link(href='/posts') Step Inside
block scripts
  // Google Code for 7-Day Trial Conversion Page
  script(type="text/javascript").
    /* <![CDATA[ */
    var google_conversion_id = 946719821;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "6DN2CO_32F4QzZi3wwM";
    var google_remarketing_only = false;
    /* ]]> */
  script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js")
  noscript
    div(style="display:inline;")
      img(height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/946719821/?label=6DN2CO_32F4QzZi3wwM&amp;guid=ON&amp;script=0")
