extends ../layouts/default.jade

block body
  h2 Congratulations!
  p You've successfully saved and customized #{graphic_title} graphic. We’ve automatically added a Young Living quick-signup link to the graphic. The more you share it (on Facebook, Pinterest, etc) the more your member number will spread. It's an incredible opportunity to grow your Young Living distributor business! Here's the link to share: <a href='#{saved_link}'>#{saved_link}</a>.
  p Also, we've written a few sentences explaining the graphic in more detail that you can include in a Facebook or Pinterest post. That's included next to the <a href='#{saved_link}'>image</a>.

  p That's it for now! We're so excited to join with you on your Young Living journey. Feel free to contact us with any questions :)

  p Cheers,
  p The Start Essential team

