extends ../layouts/default.jade

block body
  h2 Thank you
  p We're so sorry to see you go. It's been such a pleasure to join you in your Young Living journey! We are always striving to provide the best service to our users, and if you have any input, please let us know with a quick reply to this message.
  p If you ever want to come back, we've saved your graphics so you can recover them anytime.
  p With love,
  p The Start Essential team

