extends ../layouts/default.jade

block body
  h2 Congrats! Job well done
  p Guess what?! You had 3 friends join Start Essential, so you have been rewarded a FREE month of graphics. Keep up the good work!
  p With love and thanks,
  p The Start Essential team

