extends ../layouts/default.jade

block body
  h2 New Week of Graphics 😎
  p Guess what? You have a fresh week of graphics to download. Be sure to use your 2 saves this week to get all your saves this month.
  a(href='https://startessential.com/posts' title='New Start Essential graphics' style='color: #FF8F8F; font-size: 18px; display: block;') All New Graphics

  p Cheers!
  p The Start Essential team


